<div class="cms-element">
    <h3 class="heading column basis33">{{ heading }}</h3>
    <p class="description column basis66">{{ description }}</p>
    <div class="actions-container column basis100">
        {% if (path_new ?? false) %}
            <a href="{{ path(path_list) }}" class="btn btn-success">list all</a>
            <a href="{{ path(path_new) }}" class="quick-add btn btn-default">create new</a>
        {% else %}
            <a href="{{ path(path_manage) }}" class="quick-add btn btn-warning">manage</a>
        {% endif %}
    </div>
</div>