{% extends 'JLibrary:templates/layout:basic.html.twig' %}

{% block main_content %}
    {% embed 'JLibrary:templates/layout:crud-index.html.twig' %}
        {% block crud_new_path %}{{ path('j29.crud.###.new') }}{% endblock %}        

        {% set sorting_options = 
            {
                'base_url' : path('j29.crud.###.index') ~ 'sort/',
                'paths' : 
                [
                    {
                        'name': '###',
                        'url': '###'
                    },
                    {
                        'name': 'published',
                        'url': 'published/desc'
                    },
                    {
                        'name': 'reset',
                        'url': 'reset'
                    }
                ]
            }
        %}

        {% block sorting %}
            <div id="js-sorting" class="sorting" data-options="{{ sorting_options|json_encode|e('html_attr') }}"></div>
        {% endblock %}

        {% block crud_table_header %}
            <div class="header h2 basis50">Title</div>
            <div class="header h2 basis25 center-text">Published</div>
            <div class="header h2 header-actions basis25 center-text">Actions</div>
        {% endblock %}

        {% block crud_table_data %}
            <div class="column basis50">{{ entity.title }}</div>
            <div class="column center-text basis25">{% if entity.published %}&#128309;{% else %}&#9899;{% endif %}</div>
            <div class="column column-actions center-text basis25"><a href="{{ path('j29.crud.###.edit', {'id': entity.id}) }}" class="btn btn-danger">update / delete</a>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascript %}
    {# necessary to trigger show/hide boxes #}
    <script type="text/javascript">var j29_sort_crud_index = true;</script>
    {{ parent() }}
{% endblock %}



{########   Images   #########}
<div class="header h2 basis15">Image</div>

{% if entity.image %}
    <div class="column basis15">
        <img class="thumbnail" src="{{ asset('uploads/board_members/' ~ entity.image) }}" width="150">
    </div>
{% endif %}

{########   Documents   #########}
<div class="header h2 basis20">Document</div>
<div class="header h2 basis20">Category</div>
<div class="header h2 basis20">Description</div>
<div class="header h2 basis10 center-text">Link</div>

<div class="column basis20">{{ entity.documentName }}</div>
<div class="column basis20">{{ entity.documentCategory.title }}</div>
<div class="column basis20">{{ entity.documentDescription }}</div>
<div class="column basis10 center-text"><a target="_blank" href="{{ asset('uploads/documents/' ~ entity.document) }}">view</a></div>

{########   Content Pages   #########}
<div class="header h2 basis45">Page Title</div>
<div class="header h2 basis25">URL</div>

<div class="column basis45">{{ entity.pageTitle }}</div>
<div class="column basis25"><a href="/{{ entity.urlSlug }}" target="_blank">{{ entity.urlSlug }}</a></div>