{#
    /**
     * Variables available in include:
     *
     * - [string] sublabel_class
     * - [form variable] field
     * - [string] label
     * - [string] sublabel_file
     * - [string] custom_sublabel
     * - [string] custom_sublabel_class
     * - [string] row_class
     * - [string] pod_class
     */
#}
{% set sublabel_class_present = (sublabel_class ?? false) ? sublabel_class : null %}
{% set container_class = (row_class ?? false) ? 'form-row checkbox-collection ' ~ row_class : 'form-row checkbox-collection' %}
{% set pod_container_class = (pod_class ?? false) ? 'pod ' ~ pod_class : 'pod' %}

<div class="{{ container_class }}">
    <div class="basis100">
        {#------------ Errors ------------#}
        <div class="field-error-container">{{ form_errors(field) }}</div>
        
        {#------------ Label ------------#}
        {{ form_label(field, label ?? null) }}

        {#------------ Sublabel ------------#}
        {% include 'J29Bundle:components/crud_fields:_inc-crud-sublabel.html.twig' %}
    </div>
    
    {#------------ Form Control ------------#}
    {% for item in field %}
       <div class="{{ pod_container_class }}">
           {{ form_errors(item) }}
           {{ form_widget(item) }}
           <span class="label">{{ item.vars.label }}</span>
       </div>
    {% endfor %}
</div>