{% import 'JLibrary:macros:collection-prototypes.html.twig' as jmacs %}

{# {% macro generalCL(item) %}
<li class="dynamic-insert">
    <a class="close js-collection-item-delete"><i class="fa fa-times-circle icon" aria-hidden="true"></i></a>
    <div class="form-controls-box">
        <div class="form-row">
            <div class="field-error-container">{{ form_errors(item) }}</div>
            {{ form_widget(item) }}
        </div>
    </div>
</li>
{% endmacro %} #}

{% set sublabel_class_present = (sublabel_class ?? false) ? sublabel_class : null %}
{% set container_class = (row_class ?? false) ? 'form-row collection-add-delete' ~ row_class : 'form-row collection-add-delete' %}

<div class="{{ container_class }}">
    {#------------ Sublabel ------------#}
    {% include 'JLibrary:templates/form_fields:_inc-crud-sublabel.html.twig' %}

    {#------------ Label ------------#}
    {{ form_label(field, label ?? null) }}
    
    {#------------ Errors ------------#}
    <div class="field-error-container">{{ form_errors(field) }}</div>

    <div class="add-container">
        <a href="#" id="{{ id_add }}" class="add-trigger">add</a>
    </div>

    <ul id="{{ id_list }}" data-prototype="{{ jmacs.cpText(field.vars.prototype)|e('html_attr') }}">
        {% for item in field %}
            {{ jmacs.cpText(item) }}
        {% else %}
            {% do field.setRendered %} 
        {% endfor %}
    </ul>
</div>