{# Needs:
    - directory | placeholder
    - image_preview
    - file
    - file_description
    - file_description_label
 #}

{% set image_directory = (placeholder ?? false) ? 'images/' : directory ~ '/' %}
{% set sublabel_class_present = (sublabel_class ?? false) ? sublabel_class : null %}

{#------------ Sublabel ------------#}
{% include 'JLibrary:templates/form_fields:_inc-crud-sublabel.html.twig' %}


<div class="flex file-container">
    <div class="basis33 file-preview-container">
        {% if image_preview %}
            <img class="thumbnail" src="{{ asset(directory ~ '/' ~ image_preview) }}">
        {% endif %}
    </div>
    <div class="basis66">
        <div class="error-container">
            <div class="field-error-container">{{ form_errors(file) }}</div>
            <div class="field-error-container">{{ form_errors(file_description) }}</div>
        </div>
        
        <div class="alt-container">
            {{ form_label(file_description, file_description_label) }}
            {{ form_widget(file_description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="flex">
            <div class="basis50 control-container">
                <label class="file-label">
                    {{ form_widget(file) }}
                    {% if creating_entity %}
                        <span>upload</span>
                    {% else %}
                        <span>update</span>
                    {% endif %}
                </label>
            </div>
            <div class="basis50 control-container">
                <label class="file-delete-label">
                    {{ form_widget(form.delete_file) }}
                    <span>remove file</span>
                </label>
            </div>
        </div>
    </div>
</div>